.map_tool {
    display: flex;
    width: 100vw;
    height: 100vh;

    .table_bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
        flex: 1;
        background-color: white;
        border-right: 1px solid #0000;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-behavior: smooth;
        max-height: 100%;

        h4 {
            margin: 20px 0;
        }

        .table_bar_item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid #0000;
            cursor: pointer;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #0000;
            }
        }
    }

    .table_map {
        // padding: 0 10px;
        flex: 3;
        background-color: black;
    }
}
.image {
    position: relative !important;
    max-height: 500px;
    height: 500px !important;
    width: 800px !important;
    margin: 15px;
}

.image2 {
    position: relative !important;
    max-height: 500px;
    margin: 15px;
}

.map_loader {
    position: absolute;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .table_bar,
    .table_map {
        display: none !important;
    }
    .map {
        height: 350px !important;
    }
}

// Restaurant Details
.res_name {
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 2.7rem;
}

.res_type {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #505050;
    margin-bottom: 0;
}

.res_rating {
    margin: 0;
    display: flex;
    align-items: center;
}

.res_description {
    font-size: 0.9rem;
    line-height: 1.1rem;
    color: #59595a;
    background-color: transparent;
    border: none;
}

.description_link {
    text-decoration: none;
    color: #6a5ddf;
}

.bottom_border {
    border-bottom: 1px solid #fff;
    padding: 0.7rem;
}

.tag_container {
    overflow: auto;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        background: #fff;
        -webkit-box-shadow: inset 0 0 0 #fff;
    }
    &::-webkit-scrollbar-thumb {
        background: #808080;
        border: none;
        border-radius: 10px;
        display: none;
    }
    &:hover {
        &::-webkit-scrollbar-thumb {
            display: block;
        }
    }
    .tags {
        padding: 0.625rem 0.875rem;
        border: 1px solid #868686;
        font-size: 0.6rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.3rem;
        margin-bottom: 0.5rem;
    }
}

.img_container {
    height: 19rem;
    overflow-y: hidden;
    img {
        height: 19rem !important;
    }
}

.show_img_btn {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: #fff;
    padding: 0.5rem 1.3rem;
    border-radius: 5px;
    white-space: nowrap;
    text-decoration: none;
    color: #000;
}

.heart_icon {
    position: absolute;
    right: 7%;
    top: 7%;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    background-color: #fff;
    border: none;
    color: #ff0000;
    font-size: 1.4rem;
}

.notes {
    h5  {
        font-size: 1.125rem;
    }
    p{
        font-size: 0.875rem;
    }
}

@media screen and (min-width: 768px) {
    .show_img_btn {
        bottom: 8%;
    }
}