.form_bg {
    background-color: #f2f3fc;
    width: 100vw;
    min-height: 100vh;
}

.form_main {
    width: 28rem;
    height: auto;
    padding: 3.1rem 0px 1.25rem;
    margin: 3.1rem 0px;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;

    form {
        label {
            margin: 1.25rem 0 0.6rem;
        }
        input {
            padding: 0.5 1.9rem !important;
            border-radius: 5px;
            &::placeholder {
                color: #d3d3d3;
            }
        }
    }
}

.form_heading {
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin-top: 3.67rem;
    margin-bottom: 2.4rem;
}

.complete_form {
    width: 27.75rem;
    label {
        font-size: 0.94rem;
        font-weight: 400;
        line-height: 1.125rem;
        padding-bottom: 12px;
        padding-top: 24px;
        .asterisk {
            font-size: 0.75rem;
            font-weight: 400;
            line-height: 0.875rem;
            color: #ff0000;
        }
    }
    input,
    textarea {
        padding: 10px 55px 10px 16px;
        width: 27.75rem;
        border-radius: 3.41px;
        border: 0.7px solid #d3d3d3;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 0.75rem;

        &::placeholder {
            color: #d3d3d3;
        }
        &:focus {
            border: 1.5px solid #6a5ddf;
            box-shadow: none;
        }
    }
    input {
        height: 32px;
    }
    .phone_input {
        padding-left: 6.44rem;
    }
    .flag {
        width: 5.625rem;
        height: 32px;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 0.75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 0.7px solid #D3D3D3;;
    }
    textarea {
        height: 82.5px;
    }
    select, .little_input_size {
        height: 36px;
        width: 12rem;
        border-radius: 3.41px;
        padding: 10px 16px 10px 16px;
        margin-bottom: 0.4rem;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 0.75rem;

        option {
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1rem;

            &::after {
                border-radius: 3.41px !important;
                padding: 4px 11px 4px 11px !important;
            }
        }

        &:focus {
            border: 1.5px solid #6a5ddf;
            box-shadow: none;
        }
    }
    .profile_img_container {
        height: 11.2rem;
        width: 14.5rem;
        border-radius: 4.5px;
        background: rgba(165, 165, 165, 0.3);
    }
    .profile_img_btn {
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-radius: 3.41px !important;
        font-weight: 400 !important;
        font-size: 0.625rem !important;
        line-height: 0.75rem !important;
        width: 6rem !important;
        height: 1.75rem !important;
    }
    .multiple_img_container {
        height: 4.25rem;
        width: 4.25rem;
        border-radius: 3.41px;
        border: 0.681562px solid #6a5ddf;
        &::before {
            content: '+';
            color: #6a5ddf;
            border: 0.681562px solid #6a5ddf;
            border-radius: 50%;
            width: 16.36px;
            height: 16.36px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .next_button {
        height: 2.3rem;
        min-width: 6.875rem;
        border-radius: 4.5px !important;
        padding: 25px 20px 25px 20px;
        margin-bottom: 5rem;
        margin-top: 4.3rem;
    }
    .increaser {
        width: 7.4rem;
        box-shadow: (0px 0px 2.74923px rgba(209, 209, 209, 0.31));
        span {
            width: 2.6rem;
            height: 2.2rem;
            padding: 11px 16px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 0.7rem;
            font-weight: 400;
            line-height: 0.8rem;
            color: #6A5DDF;
            

        }
        div {
            padding: 11px 16px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #6A5DDF;
            color: #fff;
            width: 2.4rem;
            height: 2.2rem;
            cursor: pointer;
        }
        .increase_btn {
            border-radius: 0 3.4px 3.4px 0 !important;
        }
        .decrease_btn {
            border-radius: 3.4px 0px 0px 3.4px !important;
        }
    }
    .add_btn {
        border: none;
        background-color: transparent;
        color: #6A5DDF;
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 0.75rem;
        cursor: pointer;
    }
}

.select_hour {
    width: 6.125rem;
}

.day_selector {
    width: 23.55rem;
    display: flex;
    border-radius: 5px;
}

@media screen and (max-width: 320px) {
    .complete_form{
        width: 20rem
    }
}
