// font family
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

:root {
    --max-width: 1100px;
    overflow-x: hidden;
    --border-radius: 12px;
    --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
        'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
        'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;

    --primary-glow: conic-gradient(
        from 180deg at 50% 50%,
        #16abff33 0deg,
        #0885ff33 55deg,
        #54d6ff33 120deg,
        #0071ff33 160deg,
        transparent 360deg
    );
    --secondary-glow: radial-gradient(
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
        #00000080,
        #00000040,
        #00000030,
        #00000020,
        #00000010,
        #00000010,
        #00000080
    );

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;

        --primary-glow: radial-gradient(
            rgba(1, 65, 255, 0.4),
            rgba(1, 65, 255, 0)
        );
        --secondary-glow: linear-gradient(
            to bottom right,
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0),
            rgba(1, 65, 255, 0.3)
        );

        --tile-start-rgb: 2, 13, 46;
        --tile-end-rgb: 2, 5, 19;
        --tile-border: conic-gradient(
            #ffffff80,
            #ffffff40,
            #ffffff30,
            #ffffff20,
            #ffffff10,
            #ffffff10,
            #ffffff80
        );

        --callout-rgb: 20, 20, 20;
        --callout-border-rgb: 108, 108, 108;
        --card-rgb: 100, 100, 100;
        --card-border-rgb: 200, 200, 200;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

th {
    font-family: 'Roboto', sans-serif;
}

a, button {
    cursor: pointer !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-white {
    color: white !important;
}

.sm-block {
    display: none !important;
}

.fw-600 {
    font-weight: 600;
}

.navbar {
    padding: 1.22rem 1rem !important;
    height: 5rem;
    .logo {
        margin-right: 0.58rem;
        margin-left: 20px;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #e3e3e3;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border: 2px solid #555555;
}

input {
    // placeholder
    &::placeholder {
        font-family: 'Roboto', sans-serif;
    }
    // focus
    &:focus {
        box-shadow: none !important;
        border: 1px solid #6a5ddf !important;
    }
}

// color changing
.primary {
    color: #6a5ddf !important;
}

// button styles
.btn {
    border-radius: 10px !important;
    font-size: 0.8rem !important;
}

.btn-primary {
    background-color: #6a5ddf !important;
    padding: 10px 29px !important;
    border-color: #6a5ddf !important;
    transition: all 0.3s ease !important;
    &:hover {
        background-color: transparent !important;
        color: #6a5ddf !important;
    }
}

.btn-outline-primary {
    padding: 10px 16px !important;
    border-color: #6a5ddf !important;
    color: #6a5ddf !important;
    transition: all 0.3s ease !important;
    &:hover {
        background-color: #6a5ddf !important;
        color: #fff !important;
    }
}

// link
.link {
    transition: color 0.3s ease;
    &:hover {
        color: #6a5ddf !important;
    }
}

.side-link {
    color: grey !important;
    transition: color 0.3s ease;
    &:hover {
        color: #000 !important;
    }
}
.visited-side-link {
    color: #000 !important;
}


// CardCarousel style
.carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.carousel-wrapper {
    display: flex;
    width: 100%;
    position: relative;
}

.carousel-content-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel-content {
    display: flex;
    transition: all 250ms linear;
    -ms-overflow-style: none;  /* hide scrollbar in IE and Edge */
    scrollbar-width: none;  /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar, .carousel-content::-webkit-scrollbar {
    display: none;
}

.carousel-content > * {
    width: 100%;
    flex-shrink: 0;
    flex-grow: 1;
}

.carousel-content.show-2 > * {
    width: 50%;
}

.carousel-content.show-3 > * {
    width: calc(100% / 3);
}

.carousel-content.show-4 > * {
    width: calc(100% / 4);
}

.left-arrow, .right-arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: white;
    border: 1px solid #ddd;
}

.left-arrow {
    left: 24px;
}

.right-arrow {
    right: 24px;
}

@media (hover: none) and (pointer: coarse) {
    .left-arrow, .right-arrow {
        display: none;
    }
}


// Media Queries
@media screen and (max-width: 1024px) {
    .md-reverse {
        flex-direction: column-reverse !important;
    }
}

@media screen and (max-width: 426px) {
    .sm-none {
        display: none !important;
    }

    .sm-block {
        display: block !important;
    }

    .sm-m-0 {
        margin: 0 !important;
    }
}

@media screen and (max-width: 1200px) {
    html {
        font-size: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .main-container {
        padding-left: 229.5px;
        padding-right: 229.5px;
        display: flex;
        justify-content: center;
    }
    .row-width {
        width: 907px;
    }
}

@media screen and (max-width: 992px) {
    html {
        font-size: 95%;

        .lists {
            font-size: 79%;
        }
        .discovery-img-div {
            width: 85% !important;
        }
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 90%;
        .lists {
            font-size: 94%;
        }
    }
}

@media screen and (min-width: 768px) {
    .pb-md-44 {
        padding-bottom: 44px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 85%;
        .sect_banner {
            img {
                width: 80%;
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 426px) {
    html {
        font-size: 77%;
        .nav-img {
            width: 30px;
            height: 30px;
        }
        .sect_banner {
            img {
                width: 80%;
                height: 100%;
            }
        }
        .card-title,
        .card-subtitle {
            font-size: 95%;
        }
    }
}

@media screen and (max-width: 290px) {
    html {
        font-size: 70%;
        .nav-img {
            width: 20px;
            height: 20px;
        }
        .sect_banner {
            img {
                width: 70%;
                height: 100%;
            }
        }
        .card-title,
        .card-subtitle {
            font-size: 80%;
        }
    }
}

// selection style
::selection {
    background-color: #6a5ddf;
    color: #fff;
}

.object-contain {
    object-fit: contain;
}
