.home_page {
    font-size: 0.6rem !important;
    background-color: #f2f3fc;
    background-image: url('/images/bg_img.png');
    color: white;
}

.heading_container {
    display: flex;
    flex-wrap: wrap;
    height: 22.438rem !important;
}

// heading style
.heading {
    font-size: 2.188rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin-bottom: 0.9rem;
    margin-top: -0.7rem;
}

.heading_input {
    max-width: 27rem;
    height: 3rem;
    filter: drop-shadow(4px 1px 5px rgba(255, 255, 255, 0.25));
    input {
        border-radius: 4px 0px 0px 4px !important;
        padding-left: 0.9rem;
        &::placeholder {
            color: #707070;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1rem;
            padding-left: 0.9rem;
        }
    }
    .input_btn {
        right: 1.6rem;
        z-index: 5;
        border-radius: 0px 10px 10px 0px !important;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 1.813rem !important;
        &:hover {
            background-color: #fff !important;
        }
    }
}

.filters {
    font-size: 1.563rem;
    font-weight: 400;
    line-height: 1.838rem;
    padding-top: 2.063rem;
    padding-bottom: 1.188rem;
    margin: 0;
    color: #2e343c;
}

.see_all_btn {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    color: #6a5ddf;
    right: -85%;
    top: 10%;
    position: absolute;
}

// card style
.card_section {
    min-height: 45vh;
}
.card_container {
    width: 12.9rem;
    min-height: 15rem;
    border: 1px solid rgba(217, 217, 217, 0.04);
    box-shadow: 0px 0px 3.60333px rgba(103, 110, 118, 0.35);
    transition: all 0.3s ease-in;
    padding: 0.4rem 0.7rem !important;
    .card {
        box-sizing: border-box;
        border: none;
        border-radius: 0;
        .card_img {
            width: 11.5rem !important;
            height: 6rem;
            border-radius: 5px;
            object-fit: cover;
            object-position: center;
        }
        .card_body {
            padding-top: 0.75rem;
            .res_type,
            .res_location {
                font-size: 0.84rem;
                font-weight: 300;
                line-height: 1rem;
                color: #636365;
            }
            .card_title,
            .res_rate {
                font-size: 1.3rem;
                font-weight: 500;
                line-height: 1.5rem;
                padding: 0.2rem 0 0.56rem;
            }
            .card_title {
                width: 4rem;
            }
            .res_rate {
                color: #f6a300;
            }
            .res_location {
                margin-bottom: 0.56rem !important;
            }
            .rest_tags {
                margin-top: auto;
                display: flex;
                flex-wrap: wrap;
                max-width: 11.9rem;
                overflow-x: hidden;
                // margin-bottom: 0.56rem !important;
                .res_tag {
                    font-size: 0.7rem;
                    font-weight: 300;
                    line-height: 0.8rem;
                    margin-bottom: 0.2rem;
                    color: #59595a;
                    padding: 0.28rem 0.688rem;
                    border: 1px solid #6a5ddf;
                    border-radius: 5px;
                    margin-right: 0.2rem;
                    display: flex;
                    align-items: center;
                    text-align: center;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}

// pagination style
.common_page_link {
    background-color: #f0f0f0 !important;
    color: black !important;
    border-radius: 0px !important;
}
.active_page_link {
    background-color: #a0a0a0 !important;
    border-color: #a0a0a0 !important;
    color: black !important;
    border-radius: 0px !important;
}

// card slider
.arrow_button {
    width: 2.25rem;
    height: 2.25rem;
    border: 0.78847px solid #d9d9d9;
    border-radius: 2.78593px !important;
    color: #2e343c;
}

.back_arrow {
    left: -4.875rem;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.forward_arrow {
    right: -4.875rem;
    bottom: 50%;
    transform: translateY(50%);
    z-index: 10;
}

// media queries
@media screen and (min-width: 1440px) {
    .home_page,
    .card_section {
        padding-left: 500px;
        padding-right: 500px;
    }
}

@media screen and (max-width: 1440px) {
    .home_page,
    .card_section {
        padding-left: 213.5px;
        padding-right: 213.5px;
    }
}

@media screen and (max-width: 1200px) {
    .home_page,
    .card_section {
        padding-left: 120px;
        padding-right: 120px;
    }
}

@media screen and (max-width: 768px) {
    .home_page,
    .card_section {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 576px) {
    .home_page,
    .card_section {
        padding-right: 0px;
    }
    .heading_input {
        input {
            &::placeholder {
                font-size: 1rem;
            }
        }
    }
}

@media screen and (max-width: 290px) {
    .heading {
        font-size: 16px;
    }
    .input_btn {
        padding: 4px 13px !important;
    }
    .search_btn {
        top: 6px !important;
    }
}
