.menu_container {
    border: 1px solid #eaeaea;

    ul {
        list-style: none;
        padding: 0;
    }

    .menu_title {
        font-weight: 700;
        line-height: 1.8rem;
        color: #6a5ddf;
    }

    .menu_nav {
        overflow: auto;
        button {
            padding: 0.5rem 1.1rem;
            background-color: transparent;
            font-weight: 600;
            color: #868686;
            border-radius: 4px;
            font-size: 0.85rem;
            border: none;
            transition: all 0.3s ease-in;
            white-space: nowrap;
            &:hover, .active {
                background-color: #dedafc;
                color: #6a5ddf;
            }
            
            
        }
        .active {
            background-color: #dedafc;
            color: #6a5ddf;
        }
    }

    .menu {
        overflow-y: scroll;
        overflow-x: hidden;
        .menu_item {
            border-bottom: 1px solid #eaeaea;
            &:last-child {
                border: none;
            }
            .item_name {
                font-size: 1rem;
                line-height: 1.2rem;
            }
            .description {
                font-weight: 600;
                font-size: 0.75rem;
                line-height: 0.88rem;
                color: #868686;
                margin: 0;
            }

            .price {
                font-weight: 600;
                font-size: 0.9rem;
                line-height: 1.1rem;
                color: #6a5ddf;
            }

            .menu_item_img {
                border-radius: 6px;
                width: 100%;
                height: 5.5rem;
                object-fit: cover !important;
                object-position: center !important;
            }
        }
    }

    .menu,
    .menu_nav {
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            height: 2px;
            width: 8px;
        }
        &::-webkit-scrollbar-track {
            background: #fff;
            -webkit-box-shadow: inset 0 0 0 #fff;
        }
        &::-webkit-scrollbar-thumb {
            background: #808080;
            border: none;
            border-radius: 10px;
            display: none;
        }
        &:hover {
            &::-webkit-scrollbar-thumb {
                display: block;
            }
        }
    }
}

.res_name {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.35rem;
    border-bottom: none;
}

.navbar {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

@media screen and (min-width: 768px) {
    .menu {
        max-height: 42rem;
    }
}

@media screen and (max-width: 768px) {
    .menu_container {
        border: none;
        padding-top: 0 !important;
        padding-bottom: 7.8rem;
        min-height: 28vh;
        .menu {
            overflow-y: visible !important;
            .menu_item {
                &:last-child {
                    border-bottom: 1px solid #eaeaea;
                }
            }
        }
    }
}
